# N-Cards API — 唯一真相源（§13.1 第 1 条）。
#
# ============================================================================
# 改这个文件之前先读这一段
# ============================================================================
# 1. 任何接口变更**必须先改这里**，并在**同一个 PR** 内一并改后端实现、契约测试
#    与 Android 生成代码（§13.1）。反过来做——先写实现再补契约——会让契约跟着
#    实现漂移，这正是本项目禁用 API Platform / NelmioApiDocBundle 的理由。
# 2. `/v1` 内**只允许向后兼容的变更**（§13.6）：可以加端点、加可选请求字段、
#    加响应字段、加枚举值、放宽校验；**不可以**删字段、改类型、把可选变必填、
#    收紧校验、改错误 code 的含义。破坏性变更走 `/v2`，`/v1` 并行 6 个月。
# 3. 所有 schema 必须 `additionalProperties: true`（§13.1 第 5 条），
#    每个操作必须有 operationId、至少一个错误响应、每个响应必须有 example。
#    这四条由 `.spectral.yaml` 强制，本地跑 `npm run lint:api`。
#
# ============================================================================
# ⚠️ 关于 `additionalProperties: true` 在**请求**方向上的含义
# ============================================================================
# §13.1 第 5 条要求所有 schema 都 `additionalProperties: true`，它的目的是让
# **客户端**前向兼容：服务端将来加响应字段时，老客户端不能因为多了一个键就崩。
#
# 但后端对**请求体**里的未知字段是**主动拒绝**的（`400 validation_failed` +
# `errors[].code = unknown_field`，见 §6.1 的字段错误码词表）。也就是说本契约在
# 请求方向上比实现**宽**——契约描述的是「最大可接受形状」，不是「服务端保证接受
# 任意字段」。这是刻意的，不要为了「让契约和实现一致」把请求 schema 改成
# `additionalProperties: false`：那会让 §13.6「新增可选请求字段」变成破坏性变更。
#
# ============================================================================
# ⚠️ 路径里**没有** `/v1`
# ============================================================================
# `servers[].url` 已经带了 `/v1`（§6.1 的基址就是这么定的，§17.2 的参考片段也
# 这么写），所以下面 paths 下写的是 `/cards`，而后端路由是 `/v1/cards`。
# `league/openapi-psr7-validator` 会自动处理这个 base path 落差，
# 见 backend/tests/Api/Support/OpenApiContract.php。
#
# ============================================================================
# 本文件的范围（T-007 首版）
# ============================================================================
# Auth + Cards + 全套通用组件。§6.2 的其余端点（Me/Devices、Sharing、Friends、
# Sync、Config）由各自的任务在「先改契约」时补入——这不是遗漏，是契约优先的
# 正常工作方式。通用组件已经全部就位，补端点时直接 $ref 即可。

openapi: 3.1.0

info:
  title: N-Cards API
  version: "1.0.0"
  summary: 面向德国及欧盟市场的移动卡券钱包
  description: |
    会员卡 / 积分卡 / 优惠券的条码收纳与共享。

    **通用约定**（§6.1）

    - 字段名一律 `snake_case`；时间一律 RFC 3339 UTC。
    - 成功响应 `application/json; charset=utf-8`；错误响应 `application/problem+json`
      （RFC 9457，**不带** charset —— JSON 按定义就是 UTF-8）。
      媒体类型的 key 里不写 charset，那是传输层的事。
    - 认证 `Authorization: Bearer <access_jwt>`（Access token 15 分钟，EdDSA）。
    - **所有** `/v1` 请求必须带 `X-Client`，缺失即 `400`。
    - 所有 `POST` 支持 `Idempotency-Key`（UUID，Redis 存 24h）。
    - 分页一律游标式 `?cursor=&limit=`，**不使用 offset**——`offset` / `page` /
      `skip` / `per_page` / `start` 任一出现即 `400 validation_failed`
      （`errors[].code = unsupported_parameter`）。
  contact:
    name: N-Cards Engineering
    url: https://github.com/ht-lin/n-cards
  license:
    name: Proprietary
    # SPDX 表达式。OAS 3.1 里 `identifier` 是**可选**的，但 openapi-generator 的
    # spec 校验器把它当必填（T-010 实测：不写就是 `Error count: 1`，生成直接中止）。
    # 出路有两条 —— 给生成器加 `--skip-validate-spec`，或者把这一行补上。选后者：
    # 前者会连同「$ref 指不到」「响应少了 content」这类真问题一起关掉，
    # 而这一行本身是 3.1 鼓励写的元数据，不影响任何 API 表面（§13.6 的禁止项一条不沾）。
    # `LicenseRef-` 前缀是 SPDX 给非标准许可证留的合法形态。
    identifier: LicenseRef-N-Cards-Proprietary

servers:
  - url: https://api.n-cards.de/v1
    description: production
  - url: https://api.staging.n-cards.de/v1
    description: staging（合成数据，禁止生产数据副本 —— §14.1）

tags:
  - name: auth
    description: |
      认证与会话（§7.1）。

      ⚠️ 这一组里**只有 `POST /auth/logout` 需要 Bearer**，其余四个用
      `security: []` 覆盖掉全局要求。别把这一组整体当成「公开的」——
      服务端的白名单按**操作**逐条列出，不是按 `/auth/` 前缀。
  - name: me
    description: 当前用户与他的设备（§6.2）。全部需要 Bearer。
  - name: cards
    description: 卡的 CRUD 与摆放。owner 是唯一的写入者；viewer 只能看，以及摆放自己钱包里的位置（§5.2）。

# 默认全局要求 Bearer。
#
# ⚠️ 覆盖它的是 auth 组里的**四个**端点（otp/request、otp/verify、
# magic/consume、token/refresh），**不含 logout** —— 它是这一组里唯一
# 需要 Bearer 的那个。服务端侧的对应物是
# `Shared\Infrastructure\Http\AuthenticationListener::PUBLIC_ROUTES`，
# 两者由 `tests/Api/AuthenticationCoverageTest` 逐条对账。
security:
  - bearerAuth: []

paths:
  # ==========================================================================
  # 认证（§6.2 / §7.1）—— 无需 Bearer
  # ==========================================================================
  /auth/otp/request:
    post:
      tags: [auth]
      operationId: requestOtp
      summary: 请求登录用的一次性验证码
      description: |
        **恒返回 202**，无论该邮箱是否已注册（§3.8 防账号枚举）。

        服务端在这条路径上**不查 `users`** —— 它在结构上就不知道邮箱注册过没有，
        因此对任意地址都生成并发送一个真实的验证码（[ADR-0014](https://github.com/ht-lin/n-cards/blob/main/docs/adr/0014-otp-always-sends-a-code.md)）。
        这也是**唯一的注册路径**：首次 `POST /auth/otp/verify` 成功即创建 `users` 行。

        客户端**不能**从本接口的响应推断账号是否存在，也**不应该**尝试 ——
        「这个邮箱要走登录还是注册」对客户端是同一个流程（邮箱 → 验证码 → username）。

        发出去的那封信里同时有**两样东西**：6 位码，以及一个免输码的 Magic Link
        （[ADR-0016](https://github.com/ht-lin/n-cards/blob/main/docs/adr/0016-magic-link-delivery-and-landing-page.md)）。
        两者挂在**同一条**挑战上、共用一个 `consumed_at`，所以它们是同一次登录的
        两个入口而不是两次机会 —— 用掉任何一个，另一个立刻失效。
        链接的消费走 `POST /auth/magic/consume`。

        限速（§7.5）：按 `email_hash` 1/min、5/h、10/day；按 IP 20/h。
        这三个窗口是本端点唯一的滥用闸门 —— 它挡的是「用 N-Cards 的域名给别人的
        收件箱发信」，所以 429 时**不要**自动重试，照 `Retry-After` 退避。
      security: []
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OtpRequest' }
            example:
              email: anna@example.de
              locale: de
      responses:
        '202':
          description: 挑战已创建（无论邮箱是否存在）
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OtpChallenge' }
              example:
                challenge_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
                expires_at: "2026-08-29T10:35:00Z"
                resend_after_seconds: 60
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /auth/otp/verify:
    post:
      tags: [auth]
      operationId: verifyOtp
      summary: 校验验证码，换取令牌对
      description: |
        首次验证成功即注册（创建 `users` 行）。此时 `username` 仍为 `null`，
        用户处于 `onboarding_incomplete` 状态：除 `GET /me`、`POST /me/username`、
        `POST /auth/logout` 外，所有 `/v1` 端点对其返回 `403 username_required`。
        客户端据 `user.onboarding_complete` 路由到 username 设定页，**该页不可跳过**（§5.2）。

        限速（§7.5）：按 `challenge_id` 5 次总计；按 IP 60/h。
      security: []
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OtpVerification' }
            example:
              challenge_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
              code: "418396"
              device:
                id: 0192f3a1-b2c3-7d4e-8f01-0000000000de
                platform: android
                model: Pixel 7a
                os_version: "14"
                app_version: 1.4.0
      responses:
        '200':
          description: 登录成功
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Session' }
              example:
                access_token: eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMTkyZjNhMSJ9.c2ln
                expires_in: 900
                refresh_token: 9tK3zQ1sX7bF0pR4hN8mV2wY6cL5dJ0aG3eU7iO1kS4
                user:
                  id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
                  username: null
                  locale: de
                  onboarding_complete: false
                  created_at: "2026-08-29T10:30:12Z"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /auth/magic/consume:
    post:
      tags: [auth]
      operationId: consumeMagicLink
      summary: 消费 Magic Link 令牌
      description: |
        ⚠️ **必须是 POST**。企业邮件安全网关（Microsoft Defender、Barracuda 等）
        会自动 `GET` 邮件里的所有链接做扫描——如果 Magic Link 是 `GET` 即消费，
        用户还没点开就已失效（§7.1）。邮件里的链接指向落地页，`GET` 只渲染
        「点击继续登录」按钮，实际消费走本端点。

        ⚠️ **调用方是 App，不是落地页**（[ADR-0016](https://github.com/ht-lin/n-cards/blob/main/docs/adr/0016-magic-link-delivery-and-landing-page.md)）。
        落地页是一份静态 HTML，它的按钮通过 App Links / `intent://` 把令牌交给 App，
        由 App 带上自己的 `device` 发本请求。浏览器构造不出合法的请求体 ——
        `device.platform` 的取值域只有 `android`，`device.id` 是安装级的客户端生成 UUID。

        令牌与 `POST /auth/otp/request` 那封信里的 6 位码挂在**同一条**挑战上：
        用掉任何一个，另一个立刻 401。重复消费同一个令牌同样 401。

        限速（§7.5）：按 IP 60/h。**没有**按挑战的次数上限 —— 令牌是 32 字节
        CSPRNG，猜错的令牌找不到任何一行可以累加。
      security: []
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MagicLinkConsumption' }
            example:
              token: bF0pR4hN8mV2wY6cL5dJ0aG3eU7iO1kS49tK3zQ1sX7
              device:
                id: 0192f3a1-b2c3-7d4e-8f01-0000000000de
                platform: android
                model: Pixel 7a
                os_version: "14"
                app_version: 1.4.0
      responses:
        '200':
          description: 登录成功
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Session' }
              example:
                access_token: eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMTkyZjNhMSJ9.c2ln
                expires_in: 900
                refresh_token: 9tK3zQ1sX7bF0pR4hN8mV2wY6cL5dJ0aG3eU7iO1kS4
                user:
                  id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
                  username: anna_b
                  locale: de
                  onboarding_complete: true
                  created_at: "2026-08-29T10:30:12Z"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /auth/token/refresh:
    post:
      tags: [auth]
      operationId: refreshToken
      summary: 轮换令牌对
      description: |
        每次刷新签发**新的** refresh token，旧的立即失效（§7.1）。

        ⚠️ 收到一个**已被使用过**的 refresh token 会被判定为令牌被窃：撤销该会话
        家族的全部令牌、写 `audit_log(reuse_detected)`、告警、给用户发安全提醒邮件。
        客户端拿到 `401 token_invalid` 时必须清空本地会话并跳登录，**不要重试**。

        限速（§7.5）：按 session 60/h。
      security: []
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TokenRefresh' }
            example:
              refresh_token: 9tK3zQ1sX7bF0pR4hN8mV2wY6cL5dJ0aG3eU7iO1kS4
      responses:
        '200':
          description: 轮换后的新令牌对
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Session' }
              example:
                access_token: eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMTkyZjNhMSJ9.bmV3
                expires_in: 900
                refresh_token: Q1sX7bF0pR4hN8mV2wY6cL5dJ0aG3eU7iO1kS49tK3z
                user:
                  id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
                  username: anna_b
                  locale: de
                  onboarding_complete: true
                  created_at: "2026-08-29T10:30:12Z"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /auth/logout:
    post:
      tags: [auth]
      operationId: logout
      summary: 撤销当前会话
      description: |
        这是 auth 组里**唯一需要 Bearer** 的端点。撤销当前 session；
        access token 不做黑名单（15 分钟窗口可接受，§7.1），但 refresh 立即失效。

        `onboarding_incomplete` 的用户也可以调用（否则中途放弃注册的人无法登出）。
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: 已登出（无响应体）
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  # ==========================================================================
  # 我 / 设备（§6.2 / §7.2 T02）
  # ==========================================================================
  #
  # §7.2 把「邮箱被接管 → 账号被接管」记为**已接受**的风险，缓解手段只有三条：
  # 新设备登录提醒信、这三个端点、以及二期的 Passkey。也就是说这个页面是
  # 用户在账号被接管之后唯一能自救的地方。
  #
  # ⚠️ 三个端点对「不存在的设备」与「别人的设备」返回**同一个 404**，不是 403。
  # `devices.id` 由客户端生成、不是凭据，403 等于确认「这个 id 存在，只是不是你的」——
  # 而那是一条现成的存在性信道。

  /me:
    get:
      tags: [me]
      operationId: getMe
      summary: 我的资料
      description: |
        **`onboarding_incomplete` 状态下仍然可达的三个端点之一**（另外两个是
        `POST /me/username` 与 `POST /auth/logout`，§5.2）。客户端正是靠这里的
        `user.onboarding_complete` 决定下一步去哪：`false` → username 设定页
        （不可跳过、不可返回）；`true` → 钱包。

        所以它**必须**免受 onboarding 拦截 —— 把它挡住，客户端就再也问不出
        「我是不是卡在注册中间态」，注册流程无法完成。
      parameters:
        - $ref: '#/components/parameters/XClient'
      responses:
        '200':
          description: |
            我的资料。示例特意用注册中间态（`username: null` /
            `onboarding_complete: false`）—— 那是这个端点最要紧的一种响应。
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserEnvelope' }
              example:
                user:
                  id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
                  username: null
                  locale: de
                  onboarding_complete: false
                  created_at: "2026-08-29T10:30:12Z"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

    patch:
      tags: [me]
      operationId: updateMe
      summary: 修改我的资料
      description: |
        目前只能改 `locale`。

        ⚠️ **它不在 onboarding 白名单里。** 未设 username 的用户调它得到
        `403 username_required` —— §5.2 / §6.2 的豁免清单里只有 `GET /me`。
        在 username 设定之前开一条写 `users` 的路径，正好是那个拦截器要挡的事；
        而注册期的语言由 `POST /auth/otp/request` 的 `locale` 字段决定，
        不需要这个端点。

        ⚠️ **请求体里出现 `username` → `409 username_immutable`，不静默忽略**
        （§6.2）。这是那条「username 不可变」不变量在本端点上的落点：
        静默忽略会让客户端以为改成功了，而下一次 `GET /me` 才发现没有 ——
        那种不一致比一个明确的 409 难查得多。

        没有 `display_name`（v1.1 C10 移除），将来也不会有。

        ⚠️ **空对象 `{}` 返回 `400 malformed_request`，不是 200 no-op。**
        `locale` 是当前唯一的字段，因此 `required`；一个什么都不改的 PATCH
        只可能是客户端 bug。将来加了通知偏好之后，这条会放宽成「至少给一个字段」
        —— 那是 §13.6 允许的放宽方向（收紧才是禁止的）。
      parameters:
        - $ref: '#/components/parameters/XClient'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MeUpdate' }
            example:
              locale: en
      responses:
        '200':
          description: |
            改完之后的完整资料。**与 `GET /me` 同一个 `UserEnvelope`** ——
            客户端拿它直接替换本地副本，不需要再拉一次。
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserEnvelope' }
              example:
                user:
                  id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
                  username: anna_b
                  locale: en
                  onboarding_complete: true
                  created_at: "2026-08-29T10:30:12Z"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  # --------------------------------------------------------------------------
  # ⚠️ 本组里**只有 POST /me/username 一个写 username 的操作**，而且必须一直如此。
  #
  # §3.8 的「可变性」那一行写着：username 不可变，设定后**无 API 可修改**。
  # 这份契约就是那条产品不变量的强制点 —— 加一个 PATCH/PUT /me/username，
  # 或者让 PATCH /me 接受 username 字段，都等于把它删掉。
  # 要动之前先读 §17.5 的 Q10（一期一律拒绝改名，不开人工通道）。
  # --------------------------------------------------------------------------
  /me/username:
    post:
      tags: [me]
      operationId: setUsername
      summary: 一次性设定 username
      description: |
        注册流程的**最后一步**，也是 `onboarding_incomplete` 状态唯一的出口
        （§5.2）：`POST /auth/otp/verify` 成功即建行，但那一行的 `username` 是
        `null`，在设定之前所有其他 `/v1` 端点都返回 `403 username_required`。

        **一次性写入。** 已经设过了 → `409 username_immutable`（**不静默忽略**）。
        没有 `PATCH` / `PUT` 对应端点，不可变性就是靠这一点保证的。

        客户端**必须**在发送前做 `trim` + `lowercase(Locale.ROOT)` 归一化，
        并且**必须**用二次确认对话框（`Dieser Name kann später nicht geändert
        werden.`）—— 这是本产品为数不多的不可逆操作之一，与删号同级（§3.8）。
        设定页还必须提示「其他人可通过该名字找到你，请勿使用真实姓名或邮箱」。

        三种失败要分开处理，别合并成一句「出错了」：

        | code | 状态 | UI 该做什么 |
        |---|---|---|
        | `username_invalid` | 422 | 输入框下标红，让用户改（长度 / 字符集 / 保留词） |
        | `username_taken` | 409 | 同上，文案是「这个名字已经有人用了」 |
        | `username_immutable` | 409 | **不是**输入错误：本机状态过期了，重新拉 `GET /me` |
        | `limit_exceeded` | 422 | 次数用尽，见下 |

        ⚠️ **`422 limit_exceeded` 是终局，不是「稍后再试」。** §7.5 给这个端点的
        配额是按 user **10 次总计**的生命周期计数（不是滑动窗口，`Retry-After`
        不适用，所以它不是 429）。只有真正查了占用情况的请求才消耗次数 ——
        `username_invalid` 与 `username_immutable` 都不消耗。详见 ADR-0017。
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UsernameAssignment' }
            example:
              username: anna_b
      responses:
        '200':
          description: |
            已设定。响应里的 `user.onboarding_complete` 恒为 `true` ——
            客户端据此离开设定页。
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserEnvelope' }
              example:
                user:
                  id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
                  username: anna_b
                  locale: de
                  onboarding_complete: true
                  created_at: "2026-08-29T10:30:12Z"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /me/devices:
    get:
      tags: [me]
      operationId: listDevices
      summary: 我的设备列表
      description: |
        只返回**未撤销**的设备，按 `last_seen_at` 倒序。

        `is_current` 标记发起本次请求的那台设备 —— 它由 access token 的 `did`
        比对得出，是**请求**的属性而不是设备行的属性（同一台设备在另一个请求里
        就不是当前的了）。

        **不分页**：§7.5 没有给设备数设限额，但真实上限是个位数。

        ⚠️ 响应里**没有** `push_token`。它是一个发给第三方（FCM / Google Ireland）
        的标识符，ROPA §8.2 登记的用途只有投递推送；回显它不服务于任何用例
        （客户端自己刚上报过），却会让它多出现在一处响应体里。
        `push_token_updated_at` 有 —— 客户端要靠它判断自己上报的那个还新不新鲜。
      parameters:
        - $ref: '#/components/parameters/XClient'
      responses:
        '200':
          description: 设备列表
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceList' }
              example:
                devices:
                  - id: 0192f3a1-b2c3-7d4e-8f01-0000000000de
                    platform: android
                    model: Pixel 7a
                    os_version: "14"
                    app_version: 1.4.0
                    is_current: true
                    last_seen_at: "2026-09-07T08:12:44Z"
                    created_at: "2026-08-29T10:30:12Z"
                    push_token_updated_at: "2026-09-07T08:12:44Z"
                  - id: 0192f3a1-b2c3-7d4e-8f01-0000000000df
                    platform: android
                    model: Galaxy S21
                    os_version: "13"
                    app_version: 1.3.2
                    is_current: false
                    last_seen_at: "2026-09-02T19:40:03Z"
                    created_at: "2026-08-30T21:05:55Z"
                    push_token_updated_at: null
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /me/devices/{deviceId}:
    delete:
      tags: [me]
      operationId: revokeDevice
      summary: 远程登出某设备
      description: |
        撤销这台设备**并且**撤销它的全部会话（`revoked_reason = user_revoked`）。

        ⚠️ 两件事都做才有意义：只撤设备的话，那台机器手里的 refresh token
        仍然有效 90 天。撤销后该设备的下一次 `POST /auth/token/refresh` 立刻 401。

        ⚠️ **已签发的 access token 不会失效**（§7.1 不做黑名单），
        所以被踢的设备最长还能读 15 分钟。这是被接受的窗口，见 ADR-0015。

        撤销同时清空 `push_token`（ROPA §8.2：设备撤销后即删）。

        允许删自己当前这台，效果等同登出。**幂等**：重复删仍然 204，
        且不会重置「什么时候被踢下线的」这个时间戳。

        那台设备之后仍然可以用邮箱验证码重新登录（`devices.id` 会被复活并按
        新设备处理，含提醒信）—— 远程登出不是封禁。
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/DeviceId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: 已撤销（无响应体）
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /me/devices/{deviceId}/push-token:
    put:
      tags: [me]
      operationId: updatePushToken
      summary: 更新 FCM token
      description: |
        客户端在每次启动与每次 FCM 令牌轮换后上报。

        `push_token: null` 表示**清除**（用户关掉了通知权限）——
        它与「省略该字段」不同，后者是 `400 validation_failed`。
        空串同样是 `400`：想清除就发 `null`，静默地把空串当成清除
        会让客户端的 bug 一直活着，而它的另一面是「明明设置了却收不到推送」。

        已撤销的设备返回 `404` —— 允许它继续上报的话，一台被远程登出的设备
        可以把自己留在推送目标里，而用户以为它已经被踢掉了。

        ⚠️ M1 阶段服务端**只落库，不发推送**：FCM 整条链路归 T-306（M3）。
        这个端点先存在，是为了 T-306 上线当天不至于一个令牌都没有。
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/DeviceId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PushTokenUpdate' }
            example:
              push_token: fJ8xK2mN0pQ:APA91bH_example_fcm_registration_token
      responses:
        '204':
          description: 已更新（无响应体）
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  # ==========================================================================
  # 卡（§6.2 / §5.2）
  # ==========================================================================
  /cards:
    get:
      tags: [cards]
      operationId: listCards
      summary: 列出我能看到的全部卡
      description: |
        首次登录用；日常增量走 `GET /sync`（T-202）。包含我 own 的卡与别人共享给我的卡。
        游标分页，**没有** offset。
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 一页卡
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CardPage' }
              example:
                items:
                  - id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
                    title: REWE Payback
                    merchant_label: REWE
                    color: blue_600
                    barcode_format: EAN_13
                    barcode_value: "4012345678901"
                    note: null
                    expires_on: null
                    owner_id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
                    owner_username: anna_b
                    my_role: owner
                    can_edit: true
                    member_count: 3
                    sort_order: 0
                    is_pinned: true
                    revision: 7
                    updated_at: "2026-08-29T10:30:12Z"
                next_cursor: eyJ2IjoxLCJhZnRlciI6IjAxOTJmM2ExIn0
                has_more: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

    post:
      tags: [cards]
      operationId: createCard
      summary: 创建一张卡
      description: |
        ⚠️ `id` 由**客户端生成**（UUIDv7）。这是离线优先的前提：用户在超市地下层
        没网时加的卡，本地就已经有了最终 id，联网后原样上行——不需要「本地临时 id
        → 服务端真 id」的重映射（§5.4.3）。

        因此本端点**天然幂等**：同一个 `id` 重复提交返回同一张卡。若该 `id` 已属于
        **别人**，返回 `409 id_conflict`，客户端必须重新生成 id 重试。

        限额（§7.5）：每用户 500 张卡，超出 `422 limit_exceeded`。
        共享给我的卡**不计入**我的额度（Q11）。
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CardCreate' }
            example:
              id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
              title: REWE Payback
              merchant_label: REWE
              color: blue_600
              barcode_format: EAN_13
              barcode_value: "4012345678901"
              note: null
              expires_on: null
      responses:
        '201':
          description: 已创建
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Card' }
              example:
                id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
                title: REWE Payback
                merchant_label: REWE
                color: blue_600
                barcode_format: EAN_13
                barcode_value: "4012345678901"
                note: null
                expires_on: null
                owner_id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
                owner_username: anna_b
                my_role: owner
                can_edit: true
                member_count: 1
                sort_order: 0
                is_pinned: false
                revision: 1
                updated_at: "2026-08-29T10:30:12Z"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /cards/{cardId}:
    get:
      tags: [cards]
      operationId: getCard
      summary: 取单张卡
      description: |
        owner 与 viewer 都能读。非成员 → `403 not_a_member`，客户端应据此
        **从本地删除该卡**（说明共享已被撤销，§6.1）。

        响应随调用者角色裁剪：viewer 拿到的 `Card` 没有 `member_count`（§5.2 / C11）。
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/CardId'
      responses:
        '200':
          description: 卡
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Card' }
              example:
                id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
                title: REWE Payback
                merchant_label: REWE
                color: blue_600
                barcode_format: EAN_13
                barcode_value: "4012345678901"
                note: Anna 的主卡
                expires_on: "2028-12-31"
                owner_id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
                owner_username: anna_b
                my_role: viewer
                can_edit: false
                sort_order: 3
                is_pinned: false
                revision: 7
                updated_at: "2026-08-29T10:30:12Z"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

    patch:
      tags: [cards]
      operationId: updateCard
      summary: 修改一张卡（乐观锁）
      description: |
        **仅 owner**。viewer 调用返回 `403 insufficient_role`，且客户端应同时上报
        Sentry——正常 UI 不应产生这个请求（§6.1）。

        `If-Match` 带当前 `revision`，不匹配返回 `409 revision_conflict`，
        problem body 的 `current` 成员携带服务端当前状态，客户端据此走 §5.4.3 的
        冲突解决。

        `sort_order` / `is_pinned` **不在这里改**——它们是每成员私有的，走
        `PUT /cards/{cardId}/placement`。
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/CardId'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CardUpdate' }
            example:
              title: REWE Payback (Zweitkarte)
              note: Rückseite abgenutzt
      responses:
        '200':
          description: 已更新，`revision` 已递增
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Card' }
              example:
                id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
                title: REWE Payback (Zweitkarte)
                merchant_label: REWE
                color: blue_600
                barcode_format: EAN_13
                barcode_value: "4012345678901"
                note: Rückseite abgenutzt
                expires_on: null
                owner_id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
                owner_username: anna_b
                my_role: owner
                can_edit: true
                member_count: 3
                sort_order: 0
                is_pinned: true
                revision: 8
                updated_at: "2026-08-29T11:02:44Z"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

    delete:
      tags: [cards]
      operationId: deleteCard
      summary: 删除一张卡
      description: |
        **仅 owner**。软删（写 `deleted_at`），90 天后硬删。会使**全部 viewer**
        失去该卡——他们的 `/sync` 会收到墓碑记录（§5.2）。

        ⚠️ 墓碑的 audience 取**删除前**的成员快照，否则被删的成员永远收不到通知。
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/CardId'
      responses:
        '204':
          description: 已删除（无响应体）
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /cards/{cardId}/placement:
    put:
      tags: [cards]
      operationId: updateCardPlacement
      summary: 设置我自己对该卡的排序与置顶
      description: |
        `sort_order` / `is_pinned` 存在 `card_members` 上，是**每成员私有**的
        （§5.2）——同一张共享卡，Anna 置顶、Bob 不置顶，互不影响。

        因此本端点：
        - **owner 与 viewer 都能调用**。这是 viewer 唯一的上行写入端点。
        - **不走 revision 锁**，不需要 `If-Match`，也不会递增卡的 `revision`——
          它改的根本不是卡本身。
      parameters:
        - $ref: '#/components/parameters/XClient'
        - $ref: '#/components/parameters/CardId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CardPlacement' }
            example:
              sort_order: 0
              is_pinned: true
      responses:
        '200':
          description: 已更新（返回的是**调用者视角**的卡）
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Card' }
              example:
                id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
                title: REWE Payback
                merchant_label: REWE
                color: blue_600
                barcode_format: EAN_13
                barcode_value: "4012345678901"
                note: null
                expires_on: null
                owner_id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
                owner_username: anna_b
                my_role: viewer
                can_edit: false
                sort_order: 0
                is_pinned: true
                revision: 7
                updated_at: "2026-08-29T10:30:12Z"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '426': { $ref: '#/components/responses/ClientTooOld' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

components:

  # ==========================================================================
  # 安全
  # ==========================================================================
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        `Authorization: Bearer <access_jwt>`。EdDSA (Ed25519) 签名，15 分钟有效，
        claims `sub, sid, did, jti, iat, exp`（§7.1）。过期时客户端静默刷新后**重试一次**。

  # ==========================================================================
  # 参数
  # ==========================================================================
  parameters:
    XClient:
      name: X-Client
      in: header
      required: true
      description: |
        **所有 `/v1` 请求必填**（§6.1）。缺失或格式不符即 `400 validation_failed`。
        用于强制升级判定（低于 `min_supported_client` → `426 client_too_old`）与指标切分。

        pattern 与后端 `App\Shared\Domain\Client\ClientVersion::PATTERN` 的**判定结果
        逐例一致**，由 `backend/tests/Api/OpenApiDocumentTest` 用一张对照表断言 ——
        改一处不改另一处，CI 立刻红。
        （唯一的差别是后端会先 `trim()` 一次，正则表达不了这个。）

        ⚠️ `/health/live` 与 `/health/ready` **不在 `/v1` 下**，因此不需要这个头——
        它们的调用方是 Docker healthcheck、Caddy 与 Ansible（§14.2）。
        那两个端点刻意不出现在本契约里。
      schema:
        type: string
        pattern: '^[a-z]{1,16}/\d{1,4}\.\d{1,4}\.\d{1,4}\s*\(\d{1,9}\)$'
      example: android/1.4.0 (26)

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        幂等键（UUID），Redis 存 24h（§6.1 / ADR-0003）。所有 `POST` 支持。

        同一个 key 配**相同**请求体 → 回放此前的响应，并带上
        `Idempotency-Replayed: true`。
        同一个 key 配**不同**请求体 → `422 idempotency_key_reused`，
        这是客户端 bug，**不要重试**，上报 Sentry。
        前一次请求仍在处理中 → `409 idempotency_in_progress`，带 `Retry-After`，退避重试。

        ⚠️ Redis 不可达时幂等是 **fail-OPEN**（照常执行，不保证幂等），
        而限流是 fail-CLOSED。这个不对称是刻意的，理由见 ADR-0003。
      schema:
        type: string
        format: uuid
      example: 0192f3a1-b2c3-7d4e-8f01-fedcba987654

    IfMatch:
      name: If-Match
      in: header
      required: true
      description: |
        当前 `revision` 的字符串形式，带引号，如 `"7"`（§17.2）。
        不匹配 → `409 revision_conflict`，problem body 的 `current` 带服务端当前状态。
      schema:
        type: string
      example: '"7"'

    CardId:
      name: cardId
      in: path
      required: true
      description: 卡 id（UUIDv7，客户端生成）
      schema:
        type: string
        format: uuid
      example: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

    DeviceId:
      name: deviceId
      in: path
      required: true
      description: |
        设备 id（客户端生成，安装级唯一，§5.2）。

        ⚠️ 它**不是凭据** —— 服务端校验这台设备属于当前用户，不属于则 `404`
        （不是 `403`，理由见 `/me/devices` 那一组的说明）。
        格式非法同样返回 `404` 而不是 `422`，出于同一个理由。
      schema:
        type: string
        format: uuid
      example: 0192f3a1-b2c3-7d4e-8f01-0000000000de

    Cursor:
      name: cursor
      in: query
      required: false
      description: |
        不透明游标，取自上一页响应的 `next_cursor`。**客户端不得解析它的内容。**
        省略即取第一页。无法解码 → `400 validation_failed`
        （`/sync` 例外，那里是 `409 full_resync_required`，见 §5.4.1）。
      schema:
        type: string
      example: eyJ2IjoxLCJhZnRlciI6IjAxOTJmM2ExIn0

    Limit:
      name: limit
      in: query
      required: false
      description: |
        每页条数。默认 50，**上限 200**。

        超过上限**静默夹取**到 200，不报错——这是合理的请求，而且夹取意味着将来
        抬高上限仍然向后兼容（§13.6 允许放宽校验）。客户端总能靠 `has_more` 察觉。
        但 `limit=abc` / `limit=0` / `limit=-1` 是客户端 bug，一律 `400`。

        与后端 `App\Shared\Http\Pagination\CursorPaginator` 的
        `DEFAULT_LIMIT` / `MAX_LIMIT` 一致。
      schema:
        type: integer
        minimum: 1
        default: 50
      example: 50

  # ==========================================================================
  # 响应头
  # ==========================================================================
  # ⚠️ 这四个里有三个是本项目自定义的，标准里没有。T-010 的 OkHttp 拦截器
  #    必须读它们，否则客户端无从区分「真的执行了」与「拿到了回放」，
  #    也无从知道该等多久重试。
  headers:
    XRequestId:
      description: |
        本次请求的追踪 id，与错误响应 body 里的 `request_id` **同值**。
        客户端可以在请求里自带一个，否则服务端生成。写入所有日志——
        用户报障时报上来的就是这个。
      required: true
      schema:
        type: string
      example: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

    IdempotencyReplayed:
      description: |
        **仅在幂等回放命中时出现**，值恒为 `true`。表示本次**没有**真正执行，
        拿到的是此前那次的响应（ADR-0003）。标准里没有这个头。
      required: false
      schema:
        type: string
        const: "true"
      example: "true"

    RetryAfter:
      description: |
        **秒数，不是 HTTP-date**。出现在 `429`、`503` 与
        `409 idempotency_in_progress` 上。多维度限流同时触发时，
        取**更长的**那个（§7.5）。
      required: true
      schema:
        type: integer
        minimum: 0
      example: 42

    XRateLimitRemaining:
      description: |
        剩余可用次数，多窗口取**最小值**。`429` 时恒为 `0`。

        ⚠️ §7.5 明文要求限流响应**必须**同时带 `Retry-After` 与本头，
        缺一不可。回归测试 `backend/tests/Api/RateLimitTest`。
      required: true
      schema:
        type: integer
        minimum: 0
      example: 0

  # ==========================================================================
  # 可复用的错误响应
  # ==========================================================================
  # 全部是 `application/problem+json`（RFC 9457，**不带** charset）。
  # schema 一律指向 components/schemas/Problem，而它 $ref 到了 T-004 交付的
  # docs/api/schemas/problem-details.schema.json —— 那份文件才是 code 枚举的真相源。
  responses:
    BadRequest:
      description: |
        `validation_failed`（字段校验失败，带 `errors[]`）或
        `malformed_request`（body 不是合法 JSON / 不是 JSON 对象 / 为空）。

        缺失或格式错误的 `X-Client`、缺失的 `If-Match`、以及任何 offset 风格的
        分页参数（`offset` / `page` / `skip` / `per_page` / `start`，
        `errors[].code = unsupported_parameter`）也都走这里。
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/validation-failed
            title: Validation failed
            status: 400
            code: validation_failed
            detail: The request contains invalid fields.
            instance: /v1/cards
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
            errors:
              - field: title
                code: too_long
                message: Title must be at most 100 characters.

    Unauthorized:
      description: |
        `token_expired`（静默刷新后重试**一次**）或
        `token_invalid`（会话已撤销 → 清空本地会话，跳登录，**不要重试**）。
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/token-expired
            title: Token expired
            status: 401
            code: token_expired
            detail: The access token has expired.
            instance: /v1/cards
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

    Forbidden:
      description: |
        `insufficient_role`（viewer 试图改卡/删卡/邀请——**同时上报 Sentry**，
        正常 UI 不应产生此请求）、`not_a_member`（从本地删除该卡）、
        `username_required`（跳 username 设定页）、`not_friends`。

        ⚠️ `username_required` 不是某几个端点的特例，而是**整个 `/v1` 面**的规则：
        `username IS NULL` 的用户除 `GET /me`、`POST /me/username`、
        `POST /auth/logout` 外，调任何操作都得到它（§5.2，由单一 Kernel 监听器
        强制）。所以每个操作的 `403` 都可能是它 —— 客户端的处置固定为
        「跳 username 设定页」，不需要按端点分支。
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/insufficient-role
            title: Insufficient role
            status: 403
            code: insufficient_role
            detail: Only the card owner may modify this card.
            instance: /v1/cards/0192f3a1-b2c3-7d4e-8f01-23456789abcd
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

    NotFound:
      description: |
        `not_found`。

        ⚠️ 对**非成员**访问一张存在的卡，服务端返回的是 `403 not_a_member` 还是
        `404 not_found`，取决于该资源是否属于「存在性本身即信息」的一类。
        卡走 `403`（成员关系是明确的授权概念）；含 username 的查找走 `404`。
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/not-found
            title: Not found
            status: 404
            code: not_found
            detail: No such card.
            instance: /v1/cards/0192f3a1-b2c3-7d4e-8f01-23456789abcd
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

    Conflict:
      description: |
        `revision_conflict`（乐观锁失败，`current` 带服务端状态 → 走 §5.4.3 冲突解决）、
        `id_conflict`（客户端生成的 id 已属于他人 → **重新生成 id 重试**）、
        `already_exists`（幂等处理）、`idempotency_in_progress`（带 `Retry-After`，退避重试）、
        `full_resync_required`（清库全量重同步）、
        `username_taken` / `username_immutable`（见 `/me/username` 与 `PATCH /me`）。
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/revision-conflict
            title: Revision conflict
            status: 409
            code: revision_conflict
            detail: The card was modified by another member.
            instance: /v1/cards/0192f3a1-b2c3-7d4e-8f01-23456789abcd
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
            current:
              revision: 9
              title: REWE Payback
              updated_at: "2026-08-29T11:15:00Z"

    PayloadTooLarge:
      description: '`payload_too_large`。客户端 bug，上报 Sentry。'
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/payload-too-large
            title: Payload too large
            status: 413
            code: payload_too_large
            detail: The request body exceeds the maximum allowed size.
            instance: /v1/cards
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

    UnsupportedMediaType:
      description: '`unsupported_media_type`：`Content-Type` 不是 `application/json`。客户端 bug，上报 Sentry。'
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/unsupported-media-type
            title: Unsupported media type
            status: 415
            code: unsupported_media_type
            detail: The request Content-Type must be application/json.
            instance: /v1/cards
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

    UnprocessableEntity:
      description: |
        `limit_exceeded`（**系统限额**，§7.5 的第一张表）、`username_invalid`、
        `idempotency_key_reused`（**不要重试**，上报 Sentry）。

        ⚠️ `422 limit_exceeded` 与限流（`429`）**完全是两回事**：前者是绝对的存量
        上限，重试**永远**不会成功，UI 应该显示「额度已满」而不是「稍后重试」。
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/limit-exceeded
            title: Limit exceeded
            status: 422
            code: limit_exceeded
            detail: You have reached the maximum of 500 cards.
            instance: /v1/cards
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

    ClientTooOld:
      description: '`client_too_old`：低于 `/v1/config` 下发的 `min_supported_client`。客户端显示强制升级墙。'
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/client-too-old
            title: Client too old
            status: 426
            code: client_too_old
            detail: This client version is no longer supported. Please update.
            instance: /v1/cards
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

    TooManyRequests:
      description: |
        `rate_limited`：「我判定你超限了」，按 `Retry-After` 退避重试（§7.5）。

        ⚠️ **必须**同时带 `Retry-After`（秒数）与 `X-RateLimit-Remaining`（恒为 0）。
        与 `503 service_unavailable`（「我**无法判定**」——Redis 不可达且该策略
        fail-closed）不是一回事，见 ADR-0005。
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
        X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/rate-limited
            title: Rate limited
            status: 429
            code: rate_limited
            detail: Too many requests. Retry after the indicated number of seconds.
            instance: /v1/auth/otp/request
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

    InternalError:
      description: |
        `internal_error`。`detail` 恒为固定文案，**绝不回显**原始异常消息
        （那会泄露主机名、端口、SQL 片段）。客户端提示稍后重试并上报 Sentry。
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/internal-error
            title: Internal error
            status: 500
            code: internal_error
            detail: An unexpected error occurred.
            instance: /v1/cards
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

    ServiceUnavailable:
      description: |
        `service_unavailable`：维护中，或限流器**无法判定**（Redis 不可达 +
        该策略 fail-closed，ADR-0005）。这是服务端故障，走 §5.4.3 的 outbox 重试策略。
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          example:
            type: https://api.n-cards.de/problems/service-unavailable
            title: Service unavailable
            status: 503
            code: service_unavailable
            detail: The service is temporarily unavailable.
            instance: /v1/cards
            request_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd

  # ==========================================================================
  # Schema
  # ==========================================================================
  schemas:

    # ------------------------------------------------------------------ 错误
    Problem:
      # ⚠️⚠️ 这里**只能**是一个 $ref。不要把 problem-details.schema.json 的内容
      # 复制进来——两份 `code` 枚举必然会漂，而 Android 的 ApiError sealed class
      # 是照它生成的。那份文件与 App\Shared\Domain\Error\ErrorCode 的逐项一致性
      # 由 backend/tests/Unit/Shared/Domain/Error/ProblemDetailsSchemaTest 断言，
      # 「本 yaml 解析出来的枚举与 ErrorCode 一致」则由
      # backend/tests/Api/OpenApiDocumentTest 断言。
      $ref: './schemas/problem-details.schema.json'

    # -------------------------------------------------------------- 分页信封
    # ⚠️ 通用列表信封只在这里 schematise 一次。将来 §6.2 的七个列表端点各自
    # 定义一个 `XxxPage`（items 换成自己的元素类型即可），**不要**把
    # next_cursor / has_more 在每个端点里重写一遍。
    CardPage:
      type: object
      additionalProperties: true
      required: [items, next_cursor, has_more]
      description: |
        通用列表信封（§6.1）。`has_more` 为 `false` 时 `next_cursor` **恒为 `null`**。
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Card' }
        next_cursor:
          type: [string, "null"]
          description: 下一页的不透明游标。`has_more` 为 `false` 时恒为 `null`。
        has_more:
          type: boolean
      examples:
        - items: []
          next_cursor: null
          has_more: false

    # ------------------------------------------------------------------ 卡
    Card:
      type: object
      additionalProperties: true
      required: [id, title, color, barcode_format, barcode_value, revision, updated_at]
      description: |
        一张卡在**调用者视角**下的样子。`my_role` / `can_edit` / `sort_order` /
        `is_pinned` / `member_count` 都随调用者而变——同一张卡，owner 与 viewer
        拿到的不是同一个对象。
      properties:
        id: { type: string, format: uuid }
        title: { type: string, maxLength: 100 }
        merchant_label:
          type: [string, "null"]
          maxLength: 100
          description: 用户自填的商家名（一期无商家目录）
        color:
          type: string
          description: 预设调色板的枚举值。色值本身待设计交付（开放问题 Q7 / T-153），故此处不收窄成 enum。
          example: blue_600
        barcode_format: { $ref: '#/components/schemas/BarcodeFormat' }
        barcode_value:
          type: string
          maxLength: 1024
          description: |
            码值明文。**传输时是明文**（走 TLS），**落库时用 Vault Transit 加密**（§5.3）。
            上限 1024 字节，覆盖 PDF417 / QR 的实际上限（§7.5）。
        note:
          type: [string, "null"]
          maxLength: 2000
        expires_on:
          type: [string, "null"]
          format: date
        owner_id: { type: string, format: uuid }
        owner_username:
          $ref: '#/components/schemas/Username'
        my_role: { $ref: '#/components/schemas/CardRole' }
        can_edit:
          type: boolean
          description: '`my_role == owner` 的便利镜像。客户端**必须**用它来 gate 编辑 UI，不要自己比较角色字符串。'
        member_count:
          type: integer
          minimum: 1
          description: |
            **仅 owner 可见**。`my_role == viewer` 时**整个成员不出现**——
            有多少个共同 viewer 本身就是 viewer 不该知道的信息（§5.2 成员可见性 / C11）。
            客户端在它缺失时**不得**推断任何默认值。
        sort_order:
          type: integer
          description: '**每成员私有**（存在 `card_members` 上）。走 `PUT /cards/{cardId}/placement` 修改。'
        is_pinned:
          type: boolean
          description: '**每成员私有**，同上。'
        revision:
          type: integer
          format: int64
          description: 乐观锁版本。`PATCH` 时放进 `If-Match`。`placement` 的修改**不会**递增它。
        updated_at: { type: string, format: date-time }
      examples:
        - id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
          title: REWE Payback
          merchant_label: REWE
          color: blue_600
          barcode_format: EAN_13
          barcode_value: "4012345678901"
          note: null
          expires_on: null
          owner_id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
          owner_username: anna_b
          my_role: owner
          can_edit: true
          member_count: 1
          sort_order: 0
          is_pinned: false
          revision: 1
          updated_at: "2026-08-29T10:30:12Z"

    CardCreate:
      type: object
      additionalProperties: true
      required: [id, title, color, barcode_format, barcode_value]
      description: |
        ⚠️ `id` 由**客户端**生成（UUIDv7）。离线加的卡本地就已经有最终 id，
        联网后原样上行，不需要 id 重映射（§5.4.3）。
      properties:
        id:
          type: string
          format: uuid
          description: 客户端生成的 UUIDv7。已属于他人 → `409 id_conflict`，重新生成后重试。
        title: { type: string, minLength: 1, maxLength: 100 }
        merchant_label: { type: [string, "null"], maxLength: 100 }
        color: { type: string, example: blue_600 }
        barcode_format: { $ref: '#/components/schemas/BarcodeFormat' }
        barcode_value: { type: string, minLength: 1, maxLength: 1024 }
        note: { type: [string, "null"], maxLength: 2000 }
        expires_on: { type: [string, "null"], format: date }
      examples:
        - id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
          title: REWE Payback
          merchant_label: REWE
          color: blue_600
          barcode_format: EAN_13
          barcode_value: "4012345678901"
          note: null
          expires_on: null

    CardUpdate:
      type: object
      additionalProperties: true
      minProperties: 1
      description: |
        全部字段可选，只发要改的。**没有** `sort_order` / `is_pinned`——那是每成员
        私有的，走 `PUT /cards/{cardId}/placement`。**没有** `id` / `owner_id` /
        `revision`：前两个不可变，`revision` 由服务端递增。
      properties:
        title: { type: string, minLength: 1, maxLength: 100 }
        merchant_label: { type: [string, "null"], maxLength: 100 }
        color: { type: string, example: blue_600 }
        barcode_format: { $ref: '#/components/schemas/BarcodeFormat' }
        barcode_value: { type: string, minLength: 1, maxLength: 1024 }
        note: { type: [string, "null"], maxLength: 2000 }
        expires_on: { type: [string, "null"], format: date }
      examples:
        - title: REWE Payback (Zweitkarte)
          note: Rückseite abgenutzt

    CardPlacement:
      type: object
      additionalProperties: true
      required: [sort_order, is_pinned]
      description: 调用者**自己**对该卡的摆放。owner 与 viewer 均可提交。
      properties:
        sort_order: { type: integer }
        is_pinned: { type: boolean }
      examples:
        - sort_order: 0
          is_pinned: true

    CardRole:
      type: string
      enum: [owner, viewer]
      description: |
        v1.1 只有两种角色（`editor` 已移除，所有权不可转让）。

        owner 是**唯一的写入者**；viewer 只有两项权利——看，和摆放自己钱包里的位置（§5.2）。

        ⚠️ 客户端必须对未知值有 `UNKNOWN` 兜底分支（§13.6 允许新增枚举值），
        这由 T-010 的生成器配置保证。
      example: owner

    BarcodeFormat:
      type: string
      enum: [EAN_13, EAN_8, UPC_A, UPC_E, CODE_128, CODE_39, CODE_93, ITF,
             CODABAR, QR_CODE, AZTEC, PDF_417, DATA_MATRIX]
      description: |
        客户端**必须**把未知值当作 `UNKNOWN` 并渲染兜底样式——§13.6 明确允许
        新增枚举值，老客户端不能因此崩。
      example: EAN_13

    # ------------------------------------------------------------------ 用户
    Username:
      type: string
      pattern: '^[a-z0-9_]{3,20}$'
      description: |
        全局唯一、**不可变**、小写。是添加好友的**唯一**检索键（§3.8）。

        客户端发送前必须做 `trim` + `lowercase(Locale.ROOT)` 归一化——
        `Anna_B ` 与 `anna_b` 是同一个名字。

        不可变是靠「**没有修改端点**」保证的：只有一次性的 `POST /me/username`，
        没有 `PATCH` / `PUT` 对应端点。
      example: anna_b

    UsernameAssignment:
      type: object
      additionalProperties: true
      required: [username]
      description: |
        `POST /me/username` 的请求体。**唯一**的字段。

        ⚠️ 服务端会再做一次 `trim` + 小写化 —— 客户端的归一化是为了让用户在
        输入框里就看到最终形态，不是服务端可以省掉那一步的理由（§3.8：
        「客户端与服务端均对输入 `trim` + `toLowerCase`」）。

        ⚠️ `additionalProperties: true` 是全仓库的约定（§13.6 允许新增字段），
        但这个端点在**运行时**会把未知字段拒成 `400 validation_failed`
        + `errors[].code = unknown_field`：请求体只有一个字段，多出来的东西
        只可能是客户端 bug，而在一个一生只调一次的端点上静默忽略它，
        意味着那个 bug 永远不会被发现。
      properties:
        username: { $ref: '#/components/schemas/Username' }
      examples:
        - username: anna_b

    MeUpdate:
      type: object
      additionalProperties: true
      required: [locale]
      description: |
        `PATCH /me` 的请求体。

        ⚠️ **没有 `username`**，而且这不是遗漏：出现该字段的请求返回
        `409 username_immutable`（§6.2，**不静默忽略**）。不可变性靠「没有修改
        端点」保证，而这个端点是那条不变量最容易被绕过的地方 ——
        往下面的 `properties` 里加一行 `username`，等于把它删掉。

        ⚠️ **没有 `display_name`**（v1.1 C10 移除）。

        `required: [locale]` 与运行时一致：`locale` 是目前唯一的字段，
        因此空对象 `{}` 是 `400 malformed_request` 而不是 200 no-op。
        通知偏好（§6.2 提到、但一期没有任何数据模型，见 T-108 落地记录）落地时，
        这里会放宽成「至少给一个字段」—— §13.6 允许放宽，禁止的是收紧。
      properties:
        locale:
          type: string
          enum: [de, en]
          description: |
            界面与邮件语言。值域闭合的两项，发别的值是**客户端 bug** ——
            服务端返回 `400 validation_failed` + `errors[].code = invalid_format`，
            不是 422（422 留给「请求合法但这个值用户不能用」，例如 `username_invalid`）。
      examples:
        - locale: en

    UserEnvelope:
      type: object
      additionalProperties: true
      required: [user]
      description: |
        `GET /me`、`PATCH /me` 与 `POST /me/username` 的 200 响应 ——
        **同一个 schema，三个生产者**。

        ⚠️ **必须是具名 schema，不能写成内联的匿名对象。** 内联的话
        openapi-generator 会给 Android 侧生成带**端点名与状态码**的类型名
        （`SetUsername200Response` / `GetMe200Response` / `UpdateMe200Response`），
        三个一模一样的 data class 谁也转不成谁 —— T-107 把它收成具名 schema
        就是为了 T-108 这一刻。与 `DeviceList` 是同一条理由。
        往这三个操作里任何一个填内联 schema，都会把这件事重新做坏。

        包成对象而不是直接返回 `User`，是为了将来能加同级字段
        （顶层裸对象是一扇加不了兄弟字段的单向门）——
        同样照抄 `DeviceList` 的论证。
      properties:
        user: { $ref: '#/components/schemas/User' }
      examples:
        - user:
            id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
            username: anna_b
            locale: de
            onboarding_complete: true
            created_at: "2026-08-29T10:30:12Z"

    User:
      type: object
      additionalProperties: true
      required: [id, username, locale, onboarding_complete, created_at]
      description: 调用者自己的资料。**没有** `display_name`（v1.1 C10 移除）。
      properties:
        id: { type: string, format: uuid }
        username:
          description: |
            **注册未完成时为 `null`**（§5.2）：`POST /auth/otp/verify` 成功即创建用户行，
            但此刻还没设 username。客户端据 `onboarding_complete` 路由到设定页。
          anyOf:
            - $ref: '#/components/schemas/Username'
            - type: "null"
        locale:
          type: string
          enum: [de, en]
          description: 德语是默认值（§11.1）。
        onboarding_complete:
          type: boolean
          description: |
            等价于 `username != null`。为 `false` 时用户处于 `onboarding_incomplete`
            状态：除 `GET /me`、`POST /me/username`、`POST /auth/logout` 外，
            **所有** `/v1` 端点返回 `403 username_required`。
        created_at: { type: string, format: date-time }
      examples:
        - id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
          username: anna_b
          locale: de
          onboarding_complete: true
          created_at: "2026-08-29T10:30:12Z"

    # ⚠️ `PublicUser`（§17.2）**故意还没在这里**。它是 `GET /users/lookup` 的响应
    # 形状，而那个端点属于 T-302 —— 契约优先的意思是「端点与它的 schema 同 PR 进来」，
    # 不是「先把所有 schema 摆好等实现」。提前放进来只会得到一个 Spectral 的
    # oas3-unused-component 告警和一份没人对照实现校对过的定义。
    #
    # 给 T-302 的提醒（§17.2 / §3.8 T18）：`PublicUser` 只能有 `user_id` 与
    # `username` 两个字段。**永远不要往里加**邮箱、注册日期、好友数、卡数 ——
    # 任何一个都会把「按 username 查一个人」从查找变成情报收集。
    # v1.1 没有 `display_name`（C10）。

    Device:
      type: object
      additionalProperties: true
      required: [id, platform, model, os_version, app_version]
      description: 安装级唯一——重装即新设备（§5.2）。
      properties:
        id:
          type: string
          format: uuid
          description: 客户端生成，安装级唯一。
        platform:
          type: string
          enum: [android]
          description: 一期仅 Android（iOS 是二期）。
        model: { type: string, maxLength: 100, example: Pixel 7a }
        os_version: { type: string, maxLength: 32, example: "14" }
        app_version: { type: string, maxLength: 32, example: 1.4.0 }
      examples:
        - id: 0192f3a1-b2c3-7d4e-8f01-0000000000de
          platform: android
          model: Pixel 7a
          os_version: "14"
          app_version: 1.4.0

    # ⚠️ `Device` 上面那个是**请求**方向的（登录时上报这次安装），
    # `RegisteredDevice` 是**响应**方向的（设备管理页上的一行）。
    #
    # 刻意不合并成一个：合并意味着 `is_current` / `last_seen_at` 这些
    # 只有服务端能知道的字段会出现在请求 schema 里，于是客户端生成的代码
    # 会带上它们，而服务端必须显式地把它们忽略掉 —— 那正是「客户端能不能
    # 自称 last_seen_at」这类问题的来源。两个 schema 各自封闭更省事。
    RegisteredDevice:
      type: object
      additionalProperties: true
      required:
        [id, platform, model, os_version, app_version, is_current, last_seen_at, created_at, push_token_updated_at]
      description: |
        设备管理页上的一行（§6.2 / §5.2）。

        ⚠️ **不含** `push_token`。见 `GET /me/devices` 的说明。
      properties:
        id:
          type: string
          format: uuid
          description: 客户端生成，安装级唯一。
        platform:
          type: string
          enum: [android]
        model:
          anyOf: [{ type: string, maxLength: 100 }, { type: "null" }]
          description: 客户端未上报时为 `null`（契约要求必填，服务端收得更宽）。
        os_version:
          anyOf: [{ type: string, maxLength: 32 }, { type: "null" }]
        app_version:
          anyOf: [{ type: string, maxLength: 32 }, { type: "null" }]
        is_current:
          type: boolean
          description: |
            这一行是不是**发起本次请求**的那台设备。由 access token 的 `did`
            比对得出，不是存下来的列。
        last_seen_at:
          type: string
          format: date-time
          description: 最后一次登录或刷新令牌的时刻。
        created_at:
          type: string
          format: date-time
          description: 这次安装第一次登录的时刻。
        push_token_updated_at:
          anyOf: [{ type: string, format: date-time }, { type: "null" }]
          description: |
            FCM 令牌最后一次上报的时刻；从未上报过则 `null`。
            客户端据此判断自己该不该重新上报。**令牌本身不回显。**
      examples:
        - id: 0192f3a1-b2c3-7d4e-8f01-0000000000de
          platform: android
          model: Pixel 7a
          os_version: "14"
          app_version: 1.4.0
          is_current: true
          last_seen_at: "2026-09-07T08:12:44Z"
          created_at: "2026-08-29T10:30:12Z"
          push_token_updated_at: "2026-09-07T08:12:44Z"

    DeviceList:
      type: object
      additionalProperties: true
      required: [devices]
      description: |
        ⚠️ **不分页**，没有游标 —— 真实的设备数是个位数（§7.5 未设限额，
        但重装即新设备，而人不会重装几百次）。包成对象而不是裸数组，
        是为了将来能加同级字段（顶层数组是一扇加不了字段的单向门）。
      properties:
        devices:
          type: array
          items: { $ref: '#/components/schemas/RegisteredDevice' }
          description: 未撤销的设备，按 `last_seen_at` 倒序。
      examples:
        - devices:
            - id: 0192f3a1-b2c3-7d4e-8f01-0000000000de
              platform: android
              model: Pixel 7a
              os_version: "14"
              app_version: 1.4.0
              is_current: true
              last_seen_at: "2026-09-07T08:12:44Z"
              created_at: "2026-08-29T10:30:12Z"
              push_token_updated_at: "2026-09-07T08:12:44Z"

    PushTokenUpdate:
      type: object
      additionalProperties: true
      required: [push_token]
      description: |
        ⚠️ `push_token` 是 `required` **且**可为 `null`：
        `null` 是「清除」这个动作，省略该字段则是畸形请求（`400 validation_failed`）。
        两者必须分得开 —— 用户关掉通知权限时客户端要能把服务端这一侧也清掉。
      properties:
        push_token:
          anyOf: [{ type: string, minLength: 1, maxLength: 4096 }, { type: "null" }]
          description: |
            FCM 注册令牌，`null` 表示清除。

            ⚠️ 服务端**不校验格式**，只校验长度上界。FCM 令牌的形状由 Google
            定义且历史上变过几次；在服务端钉一个正则，下次 Google 改格式时的
            症状会是全体客户端上报失败、推送静默停摆。
      examples:
        - push_token: fJ8xK2mN0pQ:APA91bH_example_fcm_registration_token
        # 用户关掉了通知权限 —— 清除，而不是省略这个字段。
        - push_token: null

    # ------------------------------------------------------------------ 认证
    OtpRequest:
      type: object
      additionalProperties: true
      required: [email, locale]
      properties:
        email:
          type: string
          format: email
          maxLength: 254
          description: |
            ⚠️ 服务端**不存明文邮箱**（§3.8）：只存 `HMAC-SHA256(lower(trim(email)), pepper)`
            与 Vault Transit 密文。日志里也不得出现这个值——
            `PiiRedactionProcessor` 会把它抹掉。
        locale:
          type: string
          enum: [de, en]
          description: 决定验证码邮件的语言。
      examples:
        - email: anna@example.de
          locale: de

    OtpChallenge:
      type: object
      additionalProperties: true
      required: [challenge_id, expires_at, resend_after_seconds]
      description: |
        ⚠️ 无论邮箱是否存在，本对象的形状与耗时都**完全一致**（§3.8 防枚举）——
        服务端在签发它时压根没查过 `users`（ADR-0014）。
        客户端不得据此推断账号是否存在。
      properties:
        challenge_id: { type: string, format: uuid }
        expires_at:
          type: string
          format: date-time
          description: 10 分钟后（§7.1）。
        resend_after_seconds:
          type: integer
          minimum: 0
          description: 重发间隔，60 秒（§7.1）。
      examples:
        - challenge_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
          expires_at: "2026-08-29T10:35:00Z"
          resend_after_seconds: 60

    OtpVerification:
      type: object
      additionalProperties: true
      required: [challenge_id, code, device]
      properties:
        challenge_id: { type: string, format: uuid }
        code:
          type: string
          pattern: '^\d{6}$'
          description: |
            6 位数字（CSPRNG 生成）。最多 5 次尝试，超过即作废整个 challenge。
            服务端只存 `HMAC-SHA256(code, pepper)`，比较用 `hash_equals()` 常量时间（§7.1）。
        device: { $ref: '#/components/schemas/Device' }
      examples:
        - challenge_id: 0192f3a1-b2c3-7d4e-8f01-23456789abcd
          code: "418396"
          device:
            id: 0192f3a1-b2c3-7d4e-8f01-0000000000de
            platform: android
            model: Pixel 7a
            os_version: "14"
            app_version: 1.4.0

    MagicLinkConsumption:
      type: object
      additionalProperties: true
      required: [token, device]
      properties:
        token:
          type: string
          minLength: 32
          maxLength: 512
          description: 邮件里 Magic Link 携带的令牌。服务端只存它的哈希。
        device: { $ref: '#/components/schemas/Device' }
      examples:
        - token: bF0pR4hN8mV2wY6cL5dJ0aG3eU7iO1kS49tK3zQ1sX7
          device:
            id: 0192f3a1-b2c3-7d4e-8f01-0000000000de
            platform: android
            model: Pixel 7a
            os_version: "14"
            app_version: 1.4.0

    TokenRefresh:
      type: object
      additionalProperties: true
      required: [refresh_token]
      properties:
        refresh_token:
          type: string
          minLength: 32
          maxLength: 512
      examples:
        - refresh_token: 9tK3zQ1sX7bF0pR4hN8mV2wY6cL5dJ0aG3eU7iO1kS4

    Session:
      type: object
      additionalProperties: true
      required: [access_token, expires_in, refresh_token, user]
      properties:
        access_token:
          type: string
          description: JWT，EdDSA (Ed25519)。**只存内存 + EncryptedSharedPreferences**（§7.3）。
        expires_in:
          type: integer
          minimum: 1
          description: Access token 的剩余秒数（900 = 15 分钟）。
          example: 900
        refresh_token:
          type: string
          description: |
            32 字节随机（Base64url），**不透明**，90 天滑动有效期。
            仅存 EncryptedSharedPreferences，**绝不**明文写 SharedPreferences 或 Room（§7.3）。

            ⚠️ 每次刷新都会轮换。重复使用一个已用过的 refresh token 会被判定为
            令牌被窃，触发整个会话家族撤销（§7.1）。
        user: { $ref: '#/components/schemas/User' }
      examples:
        - access_token: eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwMTkyZjNhMSJ9.c2ln
          expires_in: 900
          refresh_token: 9tK3zQ1sX7bF0pR4hN8mV2wY6cL5dJ0aG3eU7iO1kS4
          user:
            id: 0192f3a1-b2c3-7d4e-8f01-00000000a11a
            username: anna_b
            locale: de
            onboarding_complete: true
            created_at: "2026-08-29T10:30:12Z"
